.bottom_modal_rpws {
	position:fixed;
	right:20px;
	bottom:-150px;
	color:black;
	-webkit-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.27);
	-moz-box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.27);
	box-shadow: 0px 5px 24px 0px rgba(0,0,0,0.27);
	padding:10px;
	text-align: left;
	background-color:white;
	border-radius: 5px;
	transition:bottom 200ms;
	font-family: 'Roboto', sans-serif;
	transition-timing-function: cubic-bezier(0.51, 0.62, 0.23, 0.96);
	z-index:99999;
}

.bottom_modal_active_rpws {
	bottom:20px;
}

.bottom_modal_error {
	border-left:5px solid red;
}

.bottom_modal_good {
	border-left:5px solid #4286f4;
}

.bottom_modal_rpws {
	right:unset;
	left:85px;
	right:unset;
	padding-right:60px;
}