body {
    /*background-size: cover;
    background-image:url("/assets/invite_banners/2.png");
    background-position: center;*/
    background-color: #1c1d1f;
}

.frame_box {
    max-width:600px;
    max-height:300px;
    height:100vh;
    width:calc(100vw - 50px);
    border-top:6px solid #5585e6;
    background-color:#33363c;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.22);
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.22);
    color:white;
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    padding:18px;
    text-align: left;
    position: relative;
    margin-top:0;
    transition:all 200ms;
}

.frame_box_hidden {
    margin-top:30px;
    opacity:0;
    pointer-events: none;
}

.frame_box_tall {
    max-width: 400px;
    max-height:500px;
}

.frame_box_loading {
    filter: brightness(50%);
    pointer-events: none; 
}

.title {
    font-size:25px;
    font-weight: 800;
    margin-bottom:5px;
}

.sub_title {
    font-size:15px;
    color: #bfbfbf;
    margin-bottom:10px;
}

.input_text {
    padding: 5px;
    background-color: #3c3f45;
    border: 2px solid #444546db;
    color: white;
    width:300px;
    display:block;
    margin-bottom:5px;
}

.input_text_container {
    padding-bottom:10px;
}

.button {
    padding: 5px 10px;
    background-color: #3c3f45;
    border: 2px solid #444546db;
    color: white;
    border-radius: 5px;
    cursor:pointer;
    display:inline-block;
    margin-right:5px;
}

.button_container {
    position: absolute;
    left:18px;
    bottom:18px;
    right:18px;
}

.error_text {
    color:#ff9a9a;
    font-size:15px;
}


/* Invites */
.invite_header {
    margin:auto;
    margin-top:40px;
    display:block;
    margin-bottom:20px;
    width:120px;
    position: relative;
}

.invite_header img {
    width:120px;
    border-radius: 50%;
}

.invite_header .small_img {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 50px;
    height: 50px;
    border: 8px solid #33363c;
    border-radius: 50%;
}