body {
    background-color: #33363c;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:15px;
}

.nb_btn_disable {
    background-color: #404349;
}

.nb_title {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 5px;
}

.nb_title_center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nb_sub_title {
    font-size: 15px;
    color: #bfbfbf;
    margin-bottom: 10px;
}

.nb_input_text {
    color: black;
    width: 300px;
    display:block;
}

.nb_input_text_container {
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
}

.nb_big_padding_bottom {
    padding-bottom: 15px;
}

.nb_button_blue {
    padding: 8px 15px;
    color: white;
    margin: auto;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #5585e6;
    width: 50%;
    text-align: center;
}

.nb_code {
    width: 75%;
    height: 300px;
    background-color: #21282d;
    border: 2px solid #181d20;
    border-radius: 5px;
    padding: 15px;
    color: #e784a2;
    font-family: Consolas,Monaco,Lucida Console;
}
