html {
    padding:0;
    margin:0;
}

body {
    padding:0;
    margin:0;
    background-color: #252629;
}

.main_carousel {
    position:fixed;
    top:65px;
    bottom:65px;
    left:0;
    right:0;
}

.carousel_cell {
    width:100vw;
    height:calc(100vh - 65px - 65px);
}

.table {
    width:100%;
    height:100%;
}

.sideburns {
    position: fixed;
    left:0;
    right:0;
    background-color: #33363c;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.22);
    color: white;
    font-family: 'Roboto', sans-serif;
    padding:15px;
    height:35px;
    text-align: center;
}

.sideburn_title {
    line-height:35px;
    color:white;
    font-size:20px;
}

.sideburn_percentage {
    height:20px;
    float:right;
    font-size: 0;
    margin-top: 8px;
}

.percentage_item_circle {
    height:20px;
    width: 15px;
    display: inline-block;
    background-color: #252629;
    border-radius: 9px;
}

.percentage_item_rectangle {
    height:2px;
    width:20px;
    display:inline-block;
    background-color: #252629;
    margin-top:9px;
    margin-bottom: 9px;
}

.sideburn_percentage_active {
    background-color:#5585e6;
}

/* Loader */
.inf_loader {
    width:300px;
    position: absolute;
    left:16px;
    top:16px;
    bottom:16px;
    border-radius: 8px;
    background-image: repeating-linear-gradient( -45deg, #5585e6, #5585e6 11px, #beceef 10px, #beceef 20px);
    background-size: 28px 28px;
    animation: loader .5s linear infinite;
}

@keyframes loader {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 28px 0;
    }
}

/*! CSS Used from: https://ark.romanport.com/assets/view.css */

::-webkit-scrollbar {
    width: 10px;
    height: 3px;
    border-radius: 5px;
    overflow: hidden;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #44474d;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    min-height: 30px;
    background-color: #5585e6;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #44474d;
}

::-webkit-resizer {
    background-color: #44474d;
}

.new_custom_box {
    max-width: 600px;
    max-height: 300px;
    height:calc(100vh - 65px - 65px - 32px);
    width: calc(100vw - 50px);
    background-color: #33363c;
    border-radius: 8px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.22);
    color: white;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 18px;
    text-align: left;
    position: relative;
}

.new_custom_box_tall {
    max-width: 400px;
    max-height: 600px;
}

.nb_title {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 5px;
}

.nb_title_center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nb_link_container {
color: #5585e6;
margin-top: 5px;
font-size: 13px;
}

.nb_link_container a {
color: #5585e6;
}

.nb_big_padding_bottom {
margin-bottom: 15px;
}

.nb_button_blue {
padding: 8px 15px;
color: white;
margin: auto;
display: block;
border-radius: 5px;
cursor: pointer;
margin-bottom: 5px;
background-color: #5585e6;
width: 50%;
text-align: center;
font-size: 17px;
}

.nb_giant_top {
margin-top: 50px;
}

.nb_button_back {
background-color: #ffffff;
color: #5585e6;
position: absolute;
bottom: 5px;
left: 10px;
width: 50px;
}

.nb_button_forward {
position: absolute;
bottom: 5px;
right: 10px;
width: 150px;
}

.nb_setup_big_auth_code {
    width: 75%;
    background-color: #21282d;
    border: 2px solid #181d20;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
}

.nb_download_btn {
    padding: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #769dee;
    width: 180px;
    text-align: center;
    font-size: 17px;
    display:inline-block;
    margin:5px;
    height: 190px;
}

.nb_download_btn_contianer {
    display:block;
    margin:auto;
    width: 390px;
}

.nb_download_btn_virustotal {
    font-size: 13px;
    line-height: 28px;
    text-decoration: underline;
    color: white;
}

.nb_download_btn_main {
    padding: 8px 15px;
    background-color: #5585e6;
    height: 145px;
    border-radius: 5px;
}

.nb_setup_big_auth_code {
    width: 45%;
    background-color: #21282d;
    border: 2px solid #181d20;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-top: 45px;
}

.inputbox {
    height: 30px;
    background-color: #21282d;
    color: white;
    border-radius: 4px;
    border: 1px solid #181d20;
    padding: 5px;
}

.button_disabled {
    background-color: #616161;
    cursor: no-drop;
}

.nb_transparent_input{background-color:unset;border:none;width:80%;font-size:15px;line-height:35px;height:35px;padding:0;display:block;margin:auto;margin-bottom:10px;color:white;text-align:center;font-size:27px;}